body {
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100vh;
}

.lsidebar,
.rsidebar {
  height: 100%;
  width: 220px;
  background-color: #ebebeb;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow-x: hidden;
}

.lsidebar {
  left: 0;
}

.rsidebar {
  right: 0;
}

.sidebar {
  padding: 12% !important;
}

.main {
  width: 100%;
  height: 100%;
}

.masterMixer {
  position: fixed !important;
  padding: 0px 240px !important;
  width: calc(100% - 480px) !important;
  height: 50px !important;
  bottom: 0px !important;
}

.comp {
  position: absolute !important;
  left: 305px !important;
  top: 85px !important;
  cursor: grab !important;
}
